<header>
    <h1>Hello I'm Header EJS</h1>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/practices">Practices</a></li>
            <li><a href="/practices/new">New Practice</a></li>
        </ul>
    </nav>
</header>