<h1>Hi im the new.ejs file in views/practices/</h1>
<h2>i create things from practice Schema</h2>
<form action="/practices" method="POST">
    <%- include('_formFields') %> 
    <a href="/practices">Cancel</a>
    <button type="submit">Create/Post</button>
</form>